
.favourites{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.favourites-none{
    display: none;
}

.favcontainer{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(98, 154, 173); */
    width:90%;
    padding-bottom:2vh;
    height:auto;
    border-radius: 6vh;
}

.favHeading{
    padding:2vh;
    font-size: 3vh;
    color:white;
    text-decoration: underline;
}
.favCardContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    width:100%; 
    color:white;
    padding-top: 2vh;
    border-radius: 6vh;
    padding-bottom: 2vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

