/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
 */
@font-face {
  font-family: "gFont";
  src: local("font"), 
  url("./Font/font.ttf") format("truetype");
  font-weight: bold;
}